<div class="modal fade" id="changePassword" tabindex="-1" role="dialog" aria-labelledby="changePasswordLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">Close <span class="glyphicons glyphicons-remove-2"></span></button>
        <span class="modal-title" id="changePasswordLabel">Change Password</span>
      </div>
      <div class="modal-body">
        <div class="col-sm-offset-2 col-sm-10 dialog-error" ng-show="error">
          <span class="glyphicons glyphicons-warning-sign">
            <em ng-bind="error"></em>
          </span>
        </div>
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label for="inputOldPassword" class="col-sm-4 control-label">Old Password:</label>
            <div class="col-sm-6">
              <input type="password" class="form-control no-margin-top" id="inputOldPassword" placeholder="" ng-model="oldPassword">
            </div>
            <label for="inputNewPassword" class="col-sm-4 control-label">New Password:</label>
            <div class="col-sm-6">
              <input type="password" class="form-control no-margin-top" id="inputNewPassword" placeholder="" ng-model="newPassword" maxlength="32">
            </div>
            <label for="inputConfirmPassword" class="col-sm-4 control-label">Confirm Password:</label>
            <div class="col-sm-6">
              <input type="password" class="form-control no-margin-top" id="inputConfirmPassword" placeholder="" ng-model="confirmPassword" maxlength="32">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="changePassword()">Save</button>
        <a href="" rel="#" data-dismiss="modal">Cancel</a>
      </div>
    </div>
  </div>
</div>
