<div class="modal-header">
  <button type="button" class="close" ng-click="close()">Close &times;</button>
  <h1 class="modal-title" id="forgotPasswordModalLabel">Forgot Password?</h1>
</div>
<div class="modal-body">
  <p class="dialog-text col-sm-12">If you have forgotten your password, please enter your username below and click the ‘Submit’ button. We will email you a link to reset the password to the email address you used to register.<br></p>
  <div class="col-sm-offset-2 col-sm-10 dialog-error" ng-show="error">
      <span class="glyphicons glyphicons-warning-sign">
        <em ng-bind="error"></em>
      </span>
  </div>
  <form class="form-horizontal" role="form">
    <div class="form-group">
      <label for="forgotPasswordUsername" class="col-sm-2 control-label">Username:</label>
      <div class="col-sm-6">
        <input type="text" class="form-control no-margin-top" id="forgotPasswordUsername" ng-model="username" alphanumeric maxlength="100" required>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" ng-click="resetPassword(username)">Submit</button>
  <a href="" rel="#" ng-click="close()">Cancel</a>
</div>

