<div id="modalMessageBody" class="modal-body url-message">
  <div class="center-div logoHeader">
    <img src="/images/NARA_Logo.svg" height="40" width="40" alt="NATIONAL ARCHIVES CATALOG" err-src="../../images/NARA_Logo.png">
    NATIONAL ARCHIVES
  </div>
	<div><em class="title">Please upgrade or choose another browser</em></div>
	<div class="text centerText">Your experience at the National Archives Catalog will be greatly improved by closing your current browser and selecting a supported browser. The National Archives Catalog fully supports:</div>
	<div class="text centerText"><a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">Internet Explorer Version 11</a></div>
	<div class="text centerText"><a href="https://www.mozilla.org/en-US/firefox/new/">Firefox Version 38</a></a></div>
	<div class="text centerText"><a href="https://support.apple.com/downloads/safari">Safari Version 5</a></div>
	<div class="text centerText">If you choose not to use another browser at this time, please be aware that many features of the National Archives Catalog may not function properly.</div>
  <div class="text centerText">Why is using another browser necessary?</div>
	<p class="text">The browser you are currently using does not support modern web standards adopted to make the web work better for everyone. Using a supported browser will give you a higher level of security and improve your web experience by allowing you to use and view sites as intended.</p>
  <div class="text centerText">Click the Continue button below to bypass this message.</div>
</div>
<div id="modalMessageButtons" class="modal-footer">
	<button class="btn btn-primary" ng-click="continue()">Continue</button>
</div>
