<div class="modal fade" id="resetPassword" tabindex="-1" role="dialog" aria-labelledby="resetPasswordLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">Close &times;</button>
        <span class="modal-title" id="resetPasswordLabel">Reset Password</span>
      </div>
      <div class="modal-body">
        <div class="col-sm-offset-2 col-sm-10 dialog-error" ng-show="error">
          <span class="glyphicons glyphicons-circle-exclamation-mark">
            <em ng-bind="error"></em>
          </span>
        </div>
        <div ng-if="errorMessage" class="error-message-style" ng-bind="errorMessage"></div>
        <form class="form-horizontal" role="form">
          <p>Do you wish to reset the password for the following user account: {{currentUser}}</p>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="requestResetPassword()">Yes</button>
        <a href="" rel="#" data-dismiss="modal">Cancel</a>
      </div>
    </div>
  </div>
</div>
