<div name="thankyou" class="row">
    <div id="thanYouRegistration" class="col-lg-offset-3 col-lg-6 col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-10">
        <p class="title">&nbsp;&nbsp;Thank You !</p>
        <p>
            An email verification has been sent to the following email address.<br>
            &nbsp;&nbsp;&nbsp;-&nbsp;<span ng-bind="account.email"></span><br><br>
            Please check your email to complete the registration process.<br><br>
            Didn't get the email? <a href="" rel="#" ng-click="resendVerificationEmail()" class="blue-link">Resend the Verification email.</a>
        </p>
        <a href="#" class="blue-link"><span class="glyphicons glyphicons-restart"></span> Go back to homepage</a>
    </div>
</div>
