<div id="workspaceModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="workspaceModalLabel" aria-hidden="true">
    <div class="modal-dialog workspaceModal">
        <div class="modal-content">
            <div class="modal-header workspaceTitle row noMarginsSides">
                <div class="modal-title workspaceTitleColor col-xs-11 col-sm-10 col-lg-11" id="workspaceModalLabel">
                    <a ng-href="/id/{{naId}}" rel="#" ng-click="closeWorkspace()" ng-bind="title"></a>
                </div>
                <div class="col-xs-1 col-sm-2 col-lg-1 padding-5-sides">
                    <button type="button" class="close workspaceTitleColor" ng-click="closeWorkspace()"><span class="glyphicons glyphicons-remove-2"></span></span>&nbsp;<span>Close</span></button>
                </div>

            </div>
            <div class="modal-body noPadding">
                <div class="container-fluid">
                    <div id="rowWorkspaceVisor" class="row noMarginsSides">
                        <div id="workspaceVisor" class="col-xs-12">
                            <div data-visor="true" class="height100"></div>
                        </div>
                    </div>

                    <div id="rowWorkspaceEditArea" class="row noMarginsSides" >
                        <div ng-show="!showLoginScreen || Auth.isLoggedIn()" class="height100">
                            <div class="col-xs-10 height100">
                                <div id="workspaceTabs">
                                    <ul class="nav nav-tabs" data-tabs="tabs">
                                        <!--According to issue NARA-146:-->
                                        <!--Completely remove the Comments and Translation tabs and content code from the modals. They are for a later release-->
                                        <li ng-class="{active: visorSvc.currentTab === 1}"><a href="" rel="#" data-target="#tag" data-toggle="tab" ng-click="setTab(1, 'tag');">Tag<span ng-if="tagsCount > 0">&nbsp;({{tagsCount}})</span></a></li>
                                        <li ng-class="{active: visorSvc.currentTab === 2}"><a href="" rel="#" data-target="#comment" data-toggle="tab" ng-click="setTab(2, 'comment');">Comment<span ng-if="commentsService.workspaceCommentsCount > 0">&nbsp;({{commentsService.workspaceCommentsCount}})</span></a></li>
                                        <li ng-class="{active: visorSvc.currentTab === 3}"><a href="" rel="#" data-target="#transcribe" data-toggle="tab" ng-click="setTab(3, 'transcription');">Transcribe</a></li>
                                        <span class="lastSaveTranscription" ng-show="lastSaveDate" ng-bind-template="Last saved: {{lastSaveDate}}"></span>

                                       <!--<li ng-class="{active: visorSvc.currentTab === 4}"><a href="" rel="#" data-target="#translate" data-toggle="tab" ng-click="setTab(4, 'translation');">Translate</a></li>
                                        <span ng-show="visorSvc.currentTab === 4">
                                          <select kendo-combo-box k-group-template="'<span></span>'" k-fixed-group-template= "''"   k-placeholder="'Select a language'" k-data-text-field="'@language'" k-data-value-field="'@languageIso'" data-ng-model="selectedTranslationLanguage" k-filter="'contains'"  k-data-source="languages"  >
                                          </select>
                                        </span>-->

                                    </ul>
                                </div>

                                <div id="workspaceArea" class="tab-content">
                                    <!--TAGS -->
                                    <div class="tab-pane" ng-class="{active: visorSvc.currentTab === 1}" id="tag" >
                                        <div ng-if="tagsCount == 0 && !Auth.isLoggedIn()" class="emptyTab">
                                            <p><a href="" rel="#" ng-click="showLogin()">Tag this image!</a></p>
                                        </div>

                                        <div id="tagsInput" class="row noMarginsSides" ng-show="Auth.isLoggedIn()">
                                          <form role="form" ng-submit="addTagWorkspace(tagTextw)">
                                            <div class="col-xs-7">
                                                <label for="newTagInput" class="sr-only">Enter new tags</label>
                                                <input type="text" class="form-control" id="newTagInput" ng-model="tagTextWorkspace" placeholder="Enter new tags...">
                                            </div>
                                            <button type="submit" class="btn btn-primary">Add</button>
                                          </form>
                                        </div>
                                        <div class="row noMarginsSides tagList" ng-show="tagsCount > 0">
                                            <ul class="list-inline">
                                                <li ng-repeat="tag in tags">
                                                    <span id="{{'tagw'+$index}}" ng-class="{userTag:checkUserTagWorkspace(tag)}">
                                                        <a ng-href='/search?q=*:*&filter=(tagsExact:"{{tag["@text"]}}" or objectTagsExact:"{{tag["@text"]}}")' target="_blank">{{tag['@text'] | decodeString}}</a>
                                                        <a class="deleteButtonTag glyphicons glyphicons-circle-remove" href="" rel="#" ng-show="checkUserTagWorkspace(tag) && Auth.isLoggedIn()" ng-click="deleteTagWorkspace(tag['@text'],'tagw'+$index)"></a>
                                                    </span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <!-- COMMENTS -->
                                  <div class="tab-pane" ng-class="{active: visorSvc.currentTab === 2}" id="comment" ng-show="visorSvc.currentTab == 2">
                                    <div ng-if="showAddCommentScreen && !Auth.isLoggedIn()" class="emptyTab">
                                      <p>
                                        <a ng-if="!Auth.isLoggedIn()" href="" rel="#" ng-click="showLogin()">Comment on this image!</a>
                                        <a ng-if="Auth.isLoggedIn()" href="" rel="#" ng-click="showAddComment()">Comment on this image!</a>
                                      </p>
                                    </div>
                                    <div data-comments="" class="row noMarginsSides col-xs-12 noPaddingSides"></div>
                                  </div>

                                    <!--TRANSCRIPTIONS -->
                                    <div class="tab-pane" ng-class="{active: visorSvc.currentTab === 3}" id="transcribe" ng-if="visorSvc.currentTab == 3">
                                      <div ng-if="contributors.length == 0 && !Auth.isLoggedIn()" class="emptyTab">
                                        <p><a href="" rel="#" ng-click="showLogin()">Transcribe this image!</a></p>
                                      </div>

                                        <div id="transcription" class="row noMarginsSides">
                                            <div class="col-xs-12 noPaddingSides height100">
                                                <div id="contributors" ng-show="!transcriptionLockedByMe">
                                                    <span>
                                                        <ul class="list-inline">
                                                            <li ng-repeat="contributor in contributors" ng-show="$index < 3 || showAllContributors">
                                                                <span ng-if="$index == 0">Contributors:</span>
                                                                <span ng-if="$index != 0">,</span>
                                                                <a ng-href="#/accounts/{{contributor.username}}/contributions?contributionType=transcriptions" target="_blank" ng-bind="contributor.name"></a>
                                                            </li>
                                                            <li>&nbsp;<a href="" rel="#" class="tag-link" ng-show="contributors.length>3 && showAllContributors==false" ng-click="showAllContributors=true">More ...</a></li>
                                                            <li>&nbsp;<a href="" rel="#" class="tag-link" ng-show="contributors.length>3 && showAllContributors==true" ng-click="showAllContributors=false">Less ...</a></li>
                                                            <li ng-show="contributors" id="lastModified"><span ng-bind-template="(Last updated {{fancyLastModified}})"></span></li>
                                                        </ul>
                                                    </span>
                                                </div>
                                              <div id="transcription-locked-tooltip" kendo-tooltip k-content="transcription.lockedTooltip" k-position="transcription.tooltipPosition"
                                                   ng-class="{'transcription-locked-tooltip-edition':transcriptionLockedByMe,'transcription-locked-tooltip':!transcriptionLockedByMe}">
                                                <div class="form-control height100" ng-if="transcriptionLocked && !transcriptionLockedByMe" ng-bind="transcription.text"></div>
                                                <textarea ng-if="!transcriptionLocked || transcriptionLockedByMe" class="form-control" ng-class="{'transcription-text-edition':transcriptionLockedByMe,'transcription-text':!transcriptionLockedByMe}" ng-show="(visorSvc.currentTab === 3)" ng-model="transcription.text"
                                                        ng-change="editTranscription()" ng-disabled="!Auth.isLoggedIn() || transcriptionLocked && !transcriptionLockedByMe"></textarea>
                                              </div>
                                            </div>
                                        </div>
                                    </div>


                                  <!--TRANSLATIONS -->
                                <!--  <div class="tab-pane" ng-class="{active: visorSvc.currentTab === 4}" id="translate" ng-if="visorSvc.currentTab == 4" ng-hide="translationEditModeOn">

                                    <div ng-if="!translationText" class="emptyTab">
                                      <p>
                                        <a ng-if="!Auth.isLoggedIn()" href="" rel="#" ng-click="showLogin()">Translate this page!</a>
                                        <a ng-if="Auth.isLoggedIn()" href="" rel="#" ng-click="editTranslation()">Translate this page!</a>
                                      </p>
                                    </div>

                                    <div id="translation" class="row noMarginsSides" ng-show="!translationEditModeOn && translationText">
                                      <div class="col-xs-12 noPaddingSides">
                                        <div id="contributorsTranslation" >
                                                    <span>
                                                        <ul class="list-inline">
                                                          <li ng-repeat="contributor in translateContributors" ng-show="$index < 3 || showAllTranslateContributors">
                                                            <span ng-if="$index == 0">Contributors:</span>
                                                            <span ng-if="$index != 0">,</span>
                                                            <a ng-href="#/accounts/{{contributor.username}}/contributions?contributionType=translations" target="_blank" ng-bind="contributor.name"></a>
                                                          </li>
                                                          <li>&nbsp;<a href="" rel="#" class="tag-link" ng-show="contributors.length>3 && showAllTranslateContributors==false" ng-click="showAllTranslateContributors=true">More ...</a></li>
                                                          <li>&nbsp;<a href="" rel="#" class="tag-link" ng-show="contributors.length>3 && showAllTranslateContributors==true" ng-click="showAllTranslateContributors=false">Less ...</a></li>
                                                          <li id="lastModifiedTranslation"><span ng-bind-template="(Last updated {{fancyLastModified}})"></span></li>
                                                        </ul>
                                                    </span>
                                        </div>
                                        <div id="translationView">
                                          <pre>{{translationText}}</pre>
                                        </div>
                                      </div>
                                    </div>
                                  </div>

                                  <textarea class="form-control" placeholder="Enter translation text..." ng-show="(translationEditModeOn && Auth.isLoggedIn() && (visorSvc.currentTab === 4))" ng-model="translationText"></textarea>-->

                                </div>
                            </div>

                            <div class="col-xs-2 height100">
                                <div id="workspaceRightPanel">
                                    <div ng-hide="Auth.isLoggedIn()" class="col-xs-12 noPaddingSides loginToContribute">
                                        <a href="" tabindex="0" class="btn btn-link noPaddingSides" ng-click="showLogin()">
                                            <span>Login<span class="hidden-inline-xs hidden-inline-sm">&nbsp;to Contribute</span></span>
                                        </a>
                                    </div>
                                    <div id="logoutFromContribute" ng-show="Auth.isLoggedIn()" class="col-xs-12 noPaddingSides">
                                        <div class="col-xs-6 noPaddingSides">
                                            <a class="btn-link font-size-11pt" ng-href="#/accounts/{{Auth.userName()}}/contributions?{{visorSvc.currentTab === 1 ? 'contributionType=tags' : 'contributionType=transcriptions'}}" target="_blank" class="loginButton" ng-bind="Auth.getDisplayName()"></a>
                                        </div>
                                        <div class="col-xs-1 noPaddingSides">
                                            <div class="gray-pipe">|</div>
                                        </div>
                                        <div class="col-xs-5 noPaddingSides">
                                            <button type="button" class="btn btn-link loginButton no-padding-top no-padding-bottom font-size-11pt" ng-click="logoutw()">Log out</button>
                                        </div>
                                    </div>

                                    <div id="workspaceShare" class="col-xs-12 noPaddingSides ">
		                                    <a id="workspaceAddthis" addthis-toolbox></a>
                                    </div>
                                    <div id="workspaceLinksFooter" class="col-xs-12 noPaddingSides">
                                        <ul class="list-inline">
                                            <li>
                                                <a href="https://www.archives.gov/citizen-archivist/resources" target="_blank" >Need Help?</a>
                                            </li>
                                            <li class="gray-pipe hidden-inline-xs hidden-inline-sm">|</li>
                                            <li>
                                                <a href="http://www.archives.gov/social-media/policies/tagging-policy.html" target="_blank">Policy</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div id="actionButtonsTranscription" ng-show="Auth.isLoggedIn() && (visorSvc.currentTab === 3 || visorSvc.currentTab === 4)">

                                            <span id="saveArea" ng-show="transcriptionLockedByMe" class="bottomLeft">
                                                <button id="saveButton" class="btn btn-primary"  ng-click="saveTranscription()">Save</button>
                                                <a href="" rel="#" class="btn btn-link blue-link" ng-click="cancelEditionTranscription()">Cancel</a>
                                            </span>
                                </div>
                            </div>
                        </div>

                        <div ng-show="showLoginScreen && !Auth.isLoggedIn()" id="loginRow" class="row noMarginsSides height100">
                            <a id="cancelLogin" href="" rel="#" class="blue-link pull-right" ng-click="hideLogin()" tabindex="0">Cancel</a>
                            <div data-login-page></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

