<div name="passwordReset" class="row">
    <div id="passwordReset" class="col-lg-offset-3 col-lg-6 col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-10">
        <p class="title">&nbsp;&nbsp;Thank you!</p>
        <p>
            <br>Your password has been successfully reset.<br><br>
            You can now login to National Archives Online Catalog.<br><br>
        </p>
        <form class="form" name="validationForm" ng-controller="loginCtrl">
            <div class="form-group">
                <label for="username">Username</label><br>
                <input type="text" id="username" name="username" ng-model="user.username">
            </div>
            <div class="form-group">
                <label for="password">Password</label><br>
                <input type="password" id="password" name="password" ng-model="user.password">
            </div>
            <div class="form-group">
                <label class="error" ng-show="error" ng-bind="error"></label>
            </div><br>
            <div class="buttons">
                <button type="submit" class="btn btn-primary" ng-click="login()">Login</button>
                <a class="blue-link" href="#">Cancel</a>
            </div>
            <button class="btn btn-link blue-link link-modal padding" ng-click="showforgotUsernameModal()">Forgot Username?</button><br>
            <button class="btn btn-link blue-link link-modal padding" ng-click="showForgetPasswordModal()">Forgot Password?</button>
        </form>
    </div>
    <div forgot-password=""></div>
    <div forgot-username=""></div>
</div>