/* Colors */
$black: #000000;
$cod-gray: #0D0D0D;
$mine-shaft: #212121;
$tundora: #323a45;
$scorpion: #5b616b;
$gray: #9f9c8a;
$light-gray: #f1f1f1;
$dark-gray: #323a45;
$grayscale: #DDDDDD;
$silver-chalice: #AAAAAA;
$silver: #d6d7d9;
$silver-solid: #C0C0C0;
$alto: #e4e2e0;
$whisper: #E6E6F2;
$concrete: #F2F2F2;
$wild-sand: #f1f1f1;
$white: #FFFFFF;
$botticelli: #e1f3f8;
$link-water: #558ED5;
$havelock-blue: #00a6d2;
$steel-blue: #4A7EBB;
$lochmara: #0071bc;
$blumine: #046b99;
$chathams-blue: #17456B;
$regal-blue: #046b99;
$royal-blue: #205493;
$biscay: #112e51;
$midnight-blue: #002060;
$navy-blue: #000070;
$torea-bay: #205493;
$chambray: #376092;
$pine-glade: #C3D69B;
$celery: #9BBB59;
$green-haze: #2e8540;
$sycamore: #77933C;
$darkseagreen: #8FBC8F;
$darkslategrey: #2F4F4F;
$orange: #FA962D;
$oregon: #984807;
$commentHighlight:#FF8533;
$salva: #953735;
$red: #FF0000;
$guardsman-red: #e31c3d;
$martinique: #403152;
$copper: #112e51;
$darkGrayishCyan: #576a6e;
$veryDarkGrayishCyan: #354143;


