.link-row {
  li a {
    line-height: 0;
  }
}

.pdf-viewer {
  display: none;
}

.ie-fall{
  display: block;
}

.img-web{
  max-width: 96px !important;
  max-height: 70px !important;
}

.imageResult {
  img {
    width: auto;
  }
}