<div id="tagTable">
    <div class="row item noMarginsSides tableHeaderModeratorWorkbench">
        <div class="col-xs-1">
            <span class="abbreviation" title="NUMBER">NO.
            </span>
        </div>
        <div class="col-xs-2">COMMENT</div>
        <div class="col-xs-4">TITLE</div>
        <div class="col-xs-1">IMAGE</div>
        <div class="col-xs-1">USER</div>
        <div class="col-xs-1">MODIFIED</div>
        <div class="col-xs-1">ACTION</div>
        <div class="col-xs-1">NOTE</div>
    </div>

    <div data-comment-item ng-repeat="comment in comments"></div>
</div>
