<div class="editionsPanel noPaddingSides">
    <div class="row noMarginsSides">
        <label for="reason{{index}}" class="col-xs-1 text-right color-black">Reason:</label>
        <span class="col-xs-3">
            <select ng-if="contribution['@action'] == 'ADD' || contribution['@action'] == 'RESTORE' || contribution['@action'] == 'UPDATE'" id="reason{{index}}" class="form-control" ng-model="ui.reasonSelected" ng-options="reason.value as reason.text group by reason.group for reason in ModeratorService.reasonsRemove">
            </select>
            <select ng-if="contribution['@action'] == 'DELETE' || contribution['@action'] == 'REMOVE'" id="reason{{index}}" class="form-control" ng-model="ui.reasonSelected" ng-options="reason.value as reason.text group by reason.group for reason in ModeratorService.reasonsRestore">
            </select>
        </span>
        <span class="col-xs-8">
            <label for="additionalComments{{index}}" class="hidden">Additional Comments</label>
            <textarea class="form-control" id="additionalComments{{index}}" placeholder="Enter additional comments…" type="text" cols="2" ng-model="additionalComments"></textarea>
        </span>
    </div>

    <div class="row actionButtons noMarginsSides padding-5-top">
        <div class="col-xs-offset-10 col-xs-2">
            <button class="btn removeButton" ng-click="confirmModeration()">Confirm</button>
            <button class="btn btn-link" ng-click="cleanForm()">Cancel</button>
        </div>
    </div>
</div>
