<div id="actionModeratorTable">
    <div class="row item noMarginsSides tableHeaderModeratorWorkbench">
        <div class="col-xs-1">
            <span class="abbreviation" title="NUMBER">NO.
            </span>
        </div>
        <div class="col-xs-2">MODERATOR</div>
        <div class="col-xs-1">ACTION TAKEN</div>
        <div class="col-xs-3">REASON</div>
        <div class="col-xs-3">CONTRIBUTION</div>
        <div class="col-xs-1">ACTION</div>
        <div class="col-xs-1">NOTE</div>
    </div>

    <div data-moderator-action-item ng-repeat="moderatorAction in moderatorActions"></div>
</div>