<div id="tagTable">
  <div id="notificationBar" class="row noMarginsSides">
    <form role="form" class="form-inline" ng-submit="getNotification()">
      <label for="notificationInputModerator" class="control-label">Archival Description NAID:</label>

      <div id="onlineAvailabilityNaIdInput" class="form-group padding-20-right">
        <input title="Archival Description NAID" type="text" class="form-control" id="notificationInputModerator"
               placeholder="Enter NAID then Enter key to submit" ng-model="notificationNaid">
        <span class="glyphicons glyphicons-circle-remove filterClear" ng-show="notificationNaid"
              ng-click="clearNotificationFilter()"></span>
      </div>
      <button type="submit" class="btn btn-default lookupButton">Retrieve Notification</button>
    </form>
  </div>

  <div class="row item noMarginsSides tableHeaderModeratorWorkbench"
       ng-show="notification['@header'] && notificationNaid">
    <div class="col-xs-2">NAID</div>
    <div class="col-xs-5">TITLE</div>
    <div class="col-xs-2">MODIFIED</div>
    <div class="col-xs-1">EDIT</div>
    <div class="col-xs-1">DISPLAY</div>
    <div class="col-xs-1">NOTE</div>
  </div>

  <div id="onlineAvailabilityItem" class="row notification noMarginsSides"
       ng-show="notification['@header'] && notificationNaid">
    <div id="notificationRow" class="col-xs-12 text-center noPaddingSides">
      <div class="col-xs-2" ng-class="{removed: notification['@action'] === 'REMOVE' }"><a target="_blank"
                                                                                           ng-href="#/id/{{notification['@naId']}}"
                                                                                           ng-bind="notification['@naId']"
                                                                                           class="color-torea-bay"></a>
      </div>

      <div class="col-xs-5" ng-class="{removed: notification['@action'] === 'REMOVE'}"><a target="_blank"
                                                                                          ng-href="#/id/{{notification['@naId']}}"
                                                                                          ng-bind="notification['@title']"
                                                                                          class="color-torea-bay"></a>
      </div>

      <div class="col-xs-2" id="oa{{$index}}" ng-class="{removed:  notification['@action'] === 'REMOVE'}">
        {{OpaUtils.fancyDate(notification['@timestamp'])}}
      </div>

      <div class="col-xs-1" ng-class="{removed: notification['@action'] === 'REMOVE'}"><a href="" rel="#"
                                                                                          ng-click="editOnlineNotification()"
                                                                                          class="color-black"><span
        class="glyphicons glyphicons-edit"></span></a></div>
      <!--Required for accessibility-->
      <label for="displayCheckbox" class="hidden">Display</label>
      <div class="col-xs-1" ng-class="{removed: notification['@action'] === 'REMOVE'}"><input id="displayCheckbox"
                                                                                              type="checkbox"
                                                                                              ng-model="notification['@enabled']"
                                                                                              ng-change="enableNotificationToogle()"
                                                                                              ng-disabled="!notification['@header']">
      </div>

      <div class="col-xs-1 hoverPointer" ng-if="notification.actions.length > 0"><a href="" rel="#"
                                                                                    data-toggle="collapse"
                                                                                    data-target="#notes"
                                                                                    class="color-black"><span
        class="glyphicons glyphicons-notes-2"></span></a></div>
    </div>

    <div id="notificationPreview" ng-hide="editNotification" ng-if="notification.text" class="col-xs-12"
         ng-class="{disabledNotification: !notification['@enabled']}">
      <span class="glyphicons glyphicons-alert color-oregon"></span>
      <span id="notificationHeader" ng-bind-html="notification['@headerSanitazed']"></span>
    </div>

    <div id="notificationEditor" class="col-xs-12" ng-show="editNotification">
      <ng-quill-editor ng-model="notification.text" quill="quillOptions"></ng-quill-editor>
      <div class="pull-right padding-10-top">
        <button type="button" class="btn lookupButton" ng-click="saveNotification()">Save</button>
        <button type="button" class="btn btn-link" ng-click="cancelEditionNotification()">Cancel</button>
      </div>
    </div>


    <!-- EDIT PANEL-->

    <div id="notes" class="col-xs-12 noteGroup noPaddingSides panel-collapse collapse">
      <div class="note row noMarginsSides" ng-repeat="note in notification.actions"
           ng-class="{noteBorder: $index != 0}">
        <div class="col-xs-2">
          <span class="bold">Moderator:</span>
          <span>{{note['@fullName']}}</span>
        </div>
        <div class="col-xs-5">
          <span class="bold">{{note['@action'].toLowerCase() | capitalize }}:</span>
          <span ng-bind="OpaUtils.fancyDate(note['@actionTS'])"></span>
        </div>
        <div class="col-xs-6">
        </div>
      </div>
    </div>
  </div>
</div>
